body {
  color: #D5C2C7;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

header {
    background-image: url(quartz.jpg);
    color: #E5CD7C;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

h1 {
  color: #C29FA9;
  font-size: 36px;
}

section {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

div {
    margin: auto;
    width: 100px;
}

div.a {
  width: 75%;
}

ul {
   /*background-image: url(quartz.jpg);*/
   background-color: #D5C2C7;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

footer {
    background: black;
    padding: 10px 20px;
}

a:link {
  color: #61333F;
}

a:visited {
  color: #320914;
}

/*===============================================================================================================*/

/* Dropdown Button */
.dropbtn {
background-color: #D5C2C7;
color: black;
padding: 16px;
font-size: 16px;
border: none;
text-align: justify;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #BD8594;}
  